@font-face {
  font-family: LatoR;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: LatoSB;
  src: url('../fonts/Lato-SemiBold.ttf');
}

@font-face {
  font-family: LatoB;
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: LatoM;
  src: url('../fonts/Lato-Medium.ttf');
}

@font-face {
  font-family: Aretha;
  src: url('../fonts/Aretha-Bold.ttf');
}

:root {
  --font-family-r: LatoR, sans-serif;
  --font-family-sb: LatoSB, sans-serif;
  --font-family-b: LatoB, sans-serif;
  --font-family-m: LatoM, sans-serif;
  --font-family-a: Aretha, sans-serif;
}